@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue";

}

body{
    color:white;
    position: relative
}


/* navigation menu */

nav{
    position: relative;
    width: 100%;
    background: rgba(219, 93, 0, 40%);
    height: 7rem;
    display: flex;
    align-items: center
}

nav .menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu-container .list .list-item{
    list-style-type: none;
    margin: 0.1rem;
    font-size: 18px;
    cursor: pointer;
}



/*home*/

body{
    background-image: url('Home\ screen.png');
    height: 100vh;
    background-size: cover
}

#home .container {
    position: relative;
    max-width: 1200px;
    margin:  0 auto;
    padding-top: 5rem;
    height: 100%;

}

#home .container .left-side {
    position: relative;
    top: 8rem;
}

#home .container .left-side .heading {
    font-size: 6rem;
    letter-spacing: 5px;
    margin-top: -20px;
    font-weight: lighter;
}

#home .container .left-side .text {
    width: 35%;
    letter-spacing: 2px;
}
    

.btn {
    cursor: pointer;
    background: var(--primarycolor);
    color: white
    border: none;
    padding: 10 px 1.5rem;
    font-size: 20px;
    margin-top: 1rem;

}
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
    justify-content: space-between;
    padding: 0 8rem;
     z-index: 10;



}

